<html>
  <head>

  </head>
  <body>
  <h1>Reestablecer contraseña</h1>
  <p>Has solicitado el cambio de tu contraseña.</p>
  <form action="{{url}}" method = "get">
    <input type="password" name="password" size="20"  placeholder="contraseña" required>
    <input type="hidden" id = "correo" name="correo" value="{{correo}}" size="30" required>
    <input type="hidden" id = "token" name="token" value = "{{token}}" size="30" required>
    <input type="submit" name="myInput" value="Cambiar contraseña">
  </form>

    <footer>
    </footer>
  </body>
</html>